h1{
  color: black;
  text-align: center;
  }
p{
  font-size: 20px;
  color: white;
  text-align: center;
  }
em{
  font-family: sans-serif;
}
body{
  background-color: skyblue;
}
a:link{
  font-size: 20px;
  background-color: transparent
  text-decoration: none;
}
a{
  color: white;
  font-size: 20px

}
a:visited{
  color: red;
  background-color: transparent;
}
a:hover{
  color: orange;}
a:active{
  color: yellow;
}
ol{
  font-size: 20px;
  color: yellow;
  font-weight: bold;
}
  ul{
        color: white;
        font-size: 20px;

  }
